<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://fonts.googlefonts.cn/css?family=Poppins:300,400,500,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="./style.css" />
    <title>Nav</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <div class="bg_shadow"></div>
        <div class="sidebar_inner">
          <div class="close">
            <i class="ri-close-fill"></i>
          </div>
          <div class="profile_info">
            <div class="profile_img">
              <img src="/src/sanxian.jpeg" alt="" />
            </div>
            <div class="profile_data">
              <p class="name">名侦探柯基</p>
              <span>
                <i class="ri-map-pin-2-fill"></i>
                中国, 杭州
              </span>
            </div>
          </div>
          <ul class="sidebar_menu">
            <li class="active">
              <a href="#">
                <div class="icon">
                  <i class="ri-car-fill"></i>
                </div>
                <div class="title">My favourite brands</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="icon">
                  <i class="ri-flag-fill"></i>
                </div>
                <div class="title">China</div>
                <div class="arrow">
                  <i class="ri-arrow-drop-down-line"></i>
                </div>
              </a>
              <ul class="accordion">
                <li><a href="#">Geely</a></li>
                <li><a href="#">Haval</a></li>
                <li><a href="#">BYD</a></li>
                <li><a href="#">Lynk & Co</a></li>
              </ul>
            </li>
            <li>
              <a href="#">
                <div class="icon">
                  <i class="ri-flag-fill"></i>
                </div>
                <div class="title">Japan</div>
                <div class="arrow">
                  <i class="ri-arrow-drop-down-line"></i>
                </div>
              </a>
              <ul class="accordion">
                <li><a href="#">sub menu1</a></li>
                <li><a href="#">sub menu1</a></li>
                <li><a href="#">sub menu1</a></li>
                <li><a href="#">sub menu1</a></li>
              </ul>
            </li>
            <li>
              <a href="#">
                <div class="icon">
                  <i class="ri-flag-fill"></i>
                </div>
                <div class="title">USA</div>
                <div class="arrow">
                  <i class="ri-arrow-drop-down-line"></i>
                </div>
              </a>
              <ul class="accordion">
                <li><a href="#">sub menu1</a></li>
                <li><a href="#">sub menu1</a></li>
                <li><a href="#">sub menu1</a></li>
                <li><a href="#">sub menu1</a></li>
              </ul>
            </li>
            <li>
              <a href="#">
                <div class="icon">
                  <i class="ri-flag-fill"></i>
                </div>
                <div class="title">Germany</div>
                <div class="arrow">
                  <i class="ri-arrow-drop-down-line"></i>
                </div>
              </a>
              <ul class="accordion">
                <li><a href="#">sub menu1</a></li>
                <li><a href="#">sub menu1</a></li>
                <li><a href="#">sub menu1</a></li>
                <li><a href="#">sub menu1</a></li>
              </ul>
            </li>
            <li>
              <a href="#">
                <div class="icon">
                  <i class="ri-lock-fill"></i>
                </div>
                <div class="title">Password</div>
              </a>
            </li>
          </ul>
          <div class="logout_btn">
            <a href="#">Logout</a>
          </div>
        </div>
      </div>
      <div class="main_container">
        <div class="navbar">
          <div class="hamburger">
            <i class="ri-menu-line"></i>
          </div>
          <div class="logo">
            <a href="#">CORGI/CSS</a>
          </div>
        </div>
        <div class="content">
          <div class="item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, saepe?</div>
          <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, blanditiis!</div>
          <div class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, rerum.</div>
          <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, laboriosam!</div>
          <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, corporis.</div>
          <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, amet.</div>
        </div>
      </div>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
