* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    --width: 300;
    --height: 120;
    --ball: 100;
    --border: 10;
  }
  body {
    background-color: #3e8fc4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    transition: 0.3s;
  }
  .switch_container {
    width: calc(var(--width) * 1px);
    height: calc(var(--height) * 1px);
    background: #82b7db;
    border-radius: calc(var(--height) * 0.5 * 1px);
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }
  .switch_container.active {
    background-color: black;
  }
  .astronomical_container {
    z-index: 900;
    position: absolute;
    top: calc(var(--border) * 1px);
    left: calc(var(--border) * 1px);
    width: calc(var(--ball) * 1px);
    height: calc(var(--ball) * 1px);
    transition: 0.5s ease-in-out;
  }
  .astronomical_container.active {
    transform: translateX(180px);
  }
  .sun {
    /* z-index: 99; */
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 192, 2);
    border-radius: 50%;
    box-shadow: inset 0px 2px 5px 6px rgba(255, 255, 255, 0.3),
      inset -1px 5px 5px 3px rgba(255, 255, 255, 0.2),
      inset -5px -5px 10px 0px rgba(0, 0, 0, 0.5),
      8px 8px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
  }
  .sun.active {
    background-color: rgb(179, 179, 179);
  }
  .hole_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
  }
  .hole {
    position: relative;
    background-color: rgb(133, 133, 133);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    opacity: 0;
  }
  .hole.active {
    opacity: 1;
  }
  .cloud_container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .cloud {
    z-index: var(--index);
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0px 2px 5px 2px rgba(255, 255, 255, 0.3),
      inset -1px 5px 5px 2px rgba(255, 255, 255, 0.2),
      inset -5px -5px 5px 2px rgba(0, 0, 0, 0.5),
      8px 8px 5px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
  }
  .cloud.active {
    background-color: rgb(213, 213, 213);
  }
  .cloud.back {
    background-color: rgb(212, 212, 212);
  }
  .cloud.back.active {
    background-color: rgb(113, 113, 113);
  }
  .star_container {
    position: relative;
    transform: translateY(-100px);
    transition-delay: 0.5s;
    transition: 1s ease-in-out;
  }
  .star_container.active {
    transform: translateY(0);
  }
  .star {
    position: absolute;
    height: 10px;
    width: 10px;
  }
  .layer_container {
    width:100%;
    height: 100%;
    position: absolute;
  }
  .layer_four {
    position: absolute;
    width: 160px;
    height: 160px;
    top: -20px;
    left: -20px;
    /* transform: rotate(30deg);
    transform-origin: top left; */
    border-radius: 50%;
    background-color: #82b7db;
    transition: 0.5s ease-in-out;
  }
  .layer_four.active{
    transform: translateX(180px);
    background-color: rgb(157, 157, 157);
  }
  .layer_three {
    position: absolute;
    width: 240px;
    height: 240px;
    top: -50px;
    left: -50px;
    /* transform: rotate(20deg);
    transform-origin: top left; */
    border-radius: 50%;
    background-color: #5dabe0;
    transition: 0.5s ease-in-out;
  }
  .layer_three.active{
    transform: translateX(160px);
    background-color: rgb(91, 91, 91);
  }
  .layer_two {
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    top: -80px;
    left: -80px;
    /* transform: rotate(10deg);
    transform-origin: top left; */
    background-color: #349ce1;
    transition: 0.5s ease-in-out;
  }
  .layer_two.active{
    transform: translateX(140px);
    background-color: rgb(74, 74, 74);
  }
  .layer_one {
    position: absolute;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    top: -100px;
    left: -100px;
    /* transform: rotate(30deg); */
    transform-origin: top left;
    background-color: #1f88cf;
    transition: 0.5s ease-in-out;
  }
  .layer_one.active{
    transform: translateX(120px);
    background-color: rgb(39, 39, 39);
  }